@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');



  $primary:    #2EC4B6;
  $secondary:  #ffffff;
  $third :     #c0bec0;
  $danger:     #ed6ea7;
  $gray:       #e0e0e0;
  $dark:       #000000;
  


$font-size-s: 1.2rem;
$font-size-n: 1.4rem;
$font-size-l: 1.8rem;
$font-size-xl : 2.6rem;//아이콘 사이즈

$font-family-md-base: 'Nanum Myeongjo', serif !default;
$font-weight-thin: 300; 
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extra-bold : 800;